.login-page {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-field .login-label {
  flex-basis: 30%;
  text-align: right;
  margin-right: 10px;
}

.form-field .login-input,
.form-field .login-select {
  flex-basis: 60%;
}

.login-input,
.login-select {
  padding: 12px;
  margin-bottom: 16px;
  border: 2px solid #152259;
  border-radius: 8px;
  font-size: 14px;
  color: #555;
}

button {
  background-color: #152259;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.avatar3 {
  display: block;
  width: 50px; /* adjust as needed */
  height: auto;
  margin: 0 auto 20px; /* centers the logo and adds space below it */
}

.login-container {
  background: linear-gradient(to right, #9b97b8, rgb(95, 135, 235));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1000px) {
  .login-container {
    flex-direction: column;
  }
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.login-header {
  color: white;
}
.login-label {
  margin-bottom: 8px;
  color: #444;
  font-size: 16px;
}

.login-input,
.login-select {
  padding: 12px;
  margin-bottom: 16px;
  border: 2px solid #4a90e2;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
}

button {
  background-color: #4a90e2;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4169aa;
}